<% var data = {
    title: "Main Page"
}; %>

<%= _.template(require('./../includes/main.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="site-content">	
    <div class="wrapper">

        <div class="breadcrumbs">
            <div class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Home</a>
            </div>
            <div class="breadcrumbs__item">
                <a href="blog.html" class="breadcrumbs__link">Blog</a>
            </div>
        </div>

        <div class="search">
            <h1 class="search__title">Stay always tuned with planting trends</h1>
            <p class="search__text"><b>Tips & Tricks</b> selected specially for <b>you!</b></p>
            <span class="search__img"></span>
            <form class="form">
				<div class="form__item">
					<input type="text" placeholder="Search" class="form__input">
					<button type="submit" class="form__btn"></button>
				</div>
			</form>
        </div>

        <div class="main-post">
            <span class="label">New</span>
            <div class="post">
                <img src="img/post_image1.png" alt="img" class="post__img">
                <div class="post__cont">
                    <h1 class="post__date">Feb 23 · 8 min read</h1>
                    <h2 class="post__title">Tips & Tricks For Cutting</h2>
                    <p class="post__text">Pruning, like any other skill, requires 
                        knowing what you are doing to achieve success. The old idea 
                        that anyone with a chain saw or a pruning saw can be a landscape 
                        pruner is far from the truth. More trees are killed or ruined each 
                        year from improper pruning than by pests. Remember that pruning is the removal or...</p>
                </div>
            </div>
        </div>

        <div class="post-list post-list_double">
            <div class="post-list__title">TOP of the Day</div>
            <div class="post-list__cont">
                <div class="post">
                    <img src="img/post_image3.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Professional Repot</h2>
                        <p class="post__text">Repotting a plant can seem like 
                            a difficult task because a lot of things can go 
                            wrong – you can damage...</p>
                    </div>
                </div>
                <div class="post">
                    <img src="img/post_image2.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Professional Repot</h2>
                        <p class="post__text">Repotting a plant can seem 
                            like a difficult task because a lot of things 
                            can go wrong – you can damage...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-list post-list_third">
            <div class="post-list__title">Interesting</div>
            <div class="post-list__cont">
                <div class="post">
                    <img src="img/post_image6.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Watering mastery</h2>
                        <p class="post__text">Repotting a plant can seem
                             like a difficult task because a lot of 
                             things can go wrong – you can damage...</p>
                    </div>
                </div>
                <div class="post">
                    <img src="img/post_image5.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Plant pot secrets</h2>
                        <p class="post__text">Repotting a plant can seem
                            like a difficult task because a lot of 
                            things can go wrong – you can damage...</p>
                    </div>
                </div>
                <div class="post">
                    <img src="img/post_image4.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Professional Repot</h2>
                        <p class="post__text">Repotting a plant can seem
                            like a difficult task because a lot of 
                            things can go wrong – you can damage...</p>
                    </div>
                </div>
                <div class="post">
                    <img src="img/post_image6.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Watering mastery</h2>
                        <p class="post__text">Repotting a plant can seem
                            like a difficult task because a lot of 
                            things can go wrong – you can damage...</p>
                    </div>
                </div>
                <div class="post">
                    <img src="img/post_image4.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Professional Repot</h2>
                        <p class="post__text">Repotting a plant can seem
                            like a difficult task because a lot of 
                            things can go wrong – you can damage...</p>
                    </div>
                </div>
                <div class="post">
                    <img src="img/post_image5.png" alt="img" class="post__img">
                    <div class="post__cont">
                        <h1 class="post__date">Feb 23 · 8 min read</h1>
                        <h2 class="post__title">Plant pot secrets</h2>
                        <p class="post__text">Repotting a plant can seem
                            like a difficult task because a lot of 
                            things can go wrong – you can damage...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="baner">
            <a href="" class="logo"></a>
            <h1 class="baner__title">Get unlimited access to exclusive articles</h1>
            <p class="baner__text">Get rid of limits and read everything you wish</p>
            <span class="baner__img"></span>
            <a href="" class="btn">Try For Free</a>
        </div>

        <div class="post-list_third">
            <div class="post-list_radius">
                <div class="post-list__cont">
                    <div class="post">
                        <img src="img/post_image5.png" alt="img" class="post__img">
                        <div class="post__cont">
                            <h1 class="post__date">Feb 23 · 8 min read</h1>
                            <h2 class="post__title">Plant pot secrets</h2>
                            <p class="post__text">Repotting a plant can seem
                                like a difficult task because a lot of 
                                things can go wrong – you can damage...</p>
                        </div>
                    </div>
                    <div class="post">
                        <img src="img/post_image4.png" alt="img" class="post__img">
                        <div class="post__cont">
                            <h1 class="post__date">Feb 23 · 8 min read</h1>
                            <h2 class="post__title">Professional Repot</h2>
                            <p class="post__text">Repotting a plant can seem
                                like a difficult task because a lot of 
                                things can go wrong – you can damage...</p>
                        </div>
                    </div>
                    <div class="post">
                        <img src="img/post_image6.png" alt="img" class="post__img">
                        <div class="post__cont">
                            <h1 class="post__date">Feb 23 · 8 min read</h1>
                            <h2 class="post__title">Watering mastery</h2>
                            <p class="post__text">Repotting a plant can seem
                                like a difficult task because a lot of 
                                things can go wrong – you can damage...</p>
                        </div>
                    </div>
                    <div class="post">
                        <img src="img/post_image4.png" alt="img" class="post__img">
                        <div class="post__cont">
                            <h1 class="post__date">Feb 23 · 8 min read</h1>
                            <h2 class="post__title">Professional Repot</h2>
                            <p class="post__text">Repotting a plant can seem
                                like a difficult task because a lot of 
                                things can go wrong – you can damage...</p>
                        </div>
                    </div>
                    <div class="post">
                        <img src="img/post_image6.png" alt="img" class="post__img">
                        <div class="post__cont">
                            <h1 class="post__date">Feb 23 · 8 min read</h1>
                            <h2 class="post__title">Watering mastery</h2>
                            <p class="post__text">Repotting a plant can seem
                                like a difficult task because a lot of 
                                things can go wrong – you can damage...</p>
                        </div>
                    </div>
                    <div class="post">
                        <img src="img/post_image5.png" alt="img" class="post__img">
                        <div class="post__cont">
                            <h1 class="post__date">Feb 23 · 8 min read</h1>
                            <h2 class="post__title">Plant pot secrets</h2>
                            <p class="post__text">Repotting a plant can seem
                                like a difficult task because a lot of 
                                things can go wrong – you can damage...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<%= _.template(require('./../includes/footer-part.html').default)(data) %>
<%= _.template(require('./../includes/bottom-side.html').default)(data) %>