$content: #E5E5E5;
$light_grey: #91A0B6;
$text: #78787A;
$notes:#ADB8C8;
$new:#ED685C;
$form__search: rgba(4, 191, 148, 0.16);
$topic: #242424;
$nav_top: #262626;
$green_for_text: #04BF94;
$width: 1074px;